@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;

    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    list-style: none;
}

.wr {
	background-image: url('./assets/pieces/wr.png');
}

.wn {
	background-image: url('./assets/pieces/wn.png');
}

.wb {
	background-image: url('./assets/pieces/wb.png');
}

.wk {
	background-image: url('./assets/pieces/wk.png');
}

.wq {
	background-image: url('./assets/pieces/wq.png');
}

.wp {
	background-image: url('./assets/pieces/wp.png');
}

/* Black Pieces */
.br {
	background-image: url('./assets/pieces/br.png');
}

.bn {
	background-image: url('./assets/pieces/bn.png');
}

.bb {
	background-image: url('./assets/pieces/bb.png');
}

.bk {
	background-image: url('./assets/pieces/bk.png');
}

.bq {
	background-image: url('./assets/pieces/bq.png');
}

.bp {
	background-image: url('./assets/pieces/bp.png');
}